@import './base.css';
@import './fonts.css';
@import './reusables.scss';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--clr-purple-70);
  transition: 0.4s;
}

h1 {
  font-family: 'IBMPlexSans-Regular';
  font-size: 1.25rem;
}

h2 {
  font-family: 'IBMPlexSans-SemiBold';
  font-size: 1rem;
}

h3 {
  font-family: 'IBMPlexSans-Regular';
  font-size: 1rem;
}

h4 {
  font-family: 'IBMPlexSans-Regular';
  font-size: 0.875rem;
}

p {
  font-family: 'IBMPlexSans-Regular';
  font-size: 0.875rem;
}

.main-button {
  display: inline-flex;
  justify-content: start;
  column-gap: 2rem;
  background-color: var(--clr-purple-60);
  color: var(--clr-white);
  font-size: 1rem;
  padding: 1rem;
  border: none;
  height: 5rem;
  transition: 0.1s ease;
  width: 100%;
}

.main-button:hover {
  cursor: pointer;
  background-color: var(--clr-purple-70);
}

// @media (min-width: 1024px) {
//   #app {
//   }
// }
