@import './base.css';
@import './fonts.css';
@import './reusables.scss';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--clr-blue-70);
  transition: 0.4s;
}

h1 {
  font-family: 'IBMPlexSans-Regular';
  font-size: 1.25rem;
}

h2 {
  font-family: 'IBMPlexSans-SemiBold';
  font-size: 1rem;
}

h3 {
  font-family: 'IBMPlexSans-Regular';
  font-size: 1rem;
}

h4 {
  font-family: 'IBMPlexSans-Regular';
  font-size: 0.875rem;
}

// @media (min-width: 1024px) {
//   #app {
//   }
// }
